:host {
  height: 120px;
  display: inline-block;
  width: 100%;
  background-color: #3f51b5;
}

#header-content {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

#logo-img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}
