:host {
  width: 100%;
  display: flex;
}

.coin-price {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.mat-card-subtitle, .mat-card-title {
  margin-bottom: 0;
}

.green {
  color: lightgreen;
}

.red {
  color: red;
}

.favorite-card {
  margin: 4px;
}
