#favorites-container {
  text-align: center;
}

#no-favorites {
  font-size: 35px;
  margin-top: 30px;
}

.favorites-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

:host {
  width: 100%;
}
